<VirtualHost *:80>
  ServerName {{ vault_builds_server_name }}
  ServerAlias www.{{ vault_builds_server_name }}

  DocumentRoot /var/www/builds/html
  <Directory /var/www/builds/html/>
    Require all denied
  </Directory>

  LogLevel warn
  ErrorLog /var/www/builds/logs/error_log
  TransferLog /var/www/builds/logs/access_log

  ServerAdmin {{ vault_builds_sysadmin_email }}

  # Redirect all HTTP (port 80) traffic for this virtual host to HTTPS.
  # Reference: https://wiki.apache.org/httpd/RedirectSSL
  Redirect permanent / https://{{ vault_builds_server_name }}/
</VirtualHost>

