import jenkins.model.*
import hudson.security.*

def instance = Jenkins.getInstance()

def hudsonRealm = new HudsonPrivateSecurityRealm(false)
hudsonRealm.createAccount('{{ vault_jenkins_admin_username }}','{{ vault_jenkins_admin_password }}')
instance.setSecurityRealm(hudsonRealm)

def strategy = new GlobalMatrixAuthorizationStrategy()
strategy.add(Jenkins.ADMINISTER, '{{ vault_jenkins_admin_username }}')
instance.setAuthorizationStrategy(strategy)

instance.save()
