# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@cbrunefearless @mackec1 @keithdadkins @christrotteradhoc @lsmitchell

#BFD Pipeline and Server Codeowners
/rfcs @cbrunefearless @mackec1 @keithdadkins @christrotteradhoc @lsmitchell
/ops @keithdadkins @njdister @christrotteradhoc
/apps @cbrunefearless @mackec1 @christrotteradhoc @lsmitchell

#BFD Insights Codeowners
/insights @keithdadkins @njdister @mackec1 @christrotteradhoc @lsmitchell

#BCDA Insights Codeowners
/insights/terraform/projects/bcda @msnook @orenfromberg @keithdadkins @njdister

#AB2D Insights Codeowners
/insights/terraform/projects/ab2d @lailasharshar @nflearl @wnyffenegger @keithdadkins @njdister

#BB2 Insights Codeowners
/insights/terraform/projects/bb2 @dtisza1 @keithdadkins @njdister

#DCGEO Pipeline Codeowners
/apps/bfd-pipeline/bfd-pipeline-rda-grpc @ericbuckley @brianburton @christrotteradhoc
