# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
@jzulim @cbrunefearless @mackec1 @keithdadkins @rtravitz @christrotteradhoc

#BFD Pipeline and Server Codeowners
/rfcs @jzulim @cbrunefearless @mackec1 @keithdadkins @rtravitz @christrotteradhoc
/ops @jzulim @keithdadkins @njdister @rtravitz @christrotteradhoc
/apps @jzulim @cbrunefearless @mackec1 @rtravitz @christrotteradhoc

#BFD Insights Codeowners
/insights @jzulim @keithdadkins @njdister @mackec1 @rtravitz @christrotteradhoc

#BCDA Insights Codeowners
/insights/terraform/projects/bcda @msnook @orenfromberg

#AB2D Insights Codeowners
/insights/terraform/projects/ab2d @lailasharshar @nflearl @wnyffenegger

#BB2 Insights Codeowners
/insights/terraform/projects/bb2 @dtisza1 @njdister @jzulim

#DCGEO Pipeline Codeowners
/apps/bfd-pipeline/bfd-pipeline-rda-grpc @ericbuckley @brianburton
