# Ignore Eclipse metadata files, but include .gitignore and .gitattributes.
/.*
!/.gitignore
!/.gitattributes

# Ignore Maven output folders
/target*/

# The Derby driver writes out these obnoxious files even when it's not being used.
*/derby.log
