# Ignore hidden files, except for known config files that we want to track.
# This covers most Eclipse, VSCode, etc.  metadata, which is nice.
.*
!.gitignore
!.gitattributes
!.github

# OSX system files
.DS_Store
