[defaults]

# Look for the Ansible Vault password in this (.gitignore'd) file.
# If you need this password, please contact karl.davis@cms.hhs.gov.
vault_password_file = vault.password

# Automatically accept SSH thumbprints when machines are provisioned.
host_key_checking = False

# Ensures that roles & modules installed from install_roles.yml can be used.
roles_path = ~/.ansible/roles
library = ~/.ansible/roles

# Workaround for https://github.com/ansible/ansible/issues/13278.
timeout = 120

[ssh_connection]
# Significantly speeds up Ansible processing. Note: RHEL 7 systems have 
# `requiretty` enabled by default, which will prevent this from working until
# it's addressed.
pipelining = True
