{
  "metrics": {
    "append_dimensions": {
      "InstanceId": "${aws:InstanceId}",
      "AutoScalingGroupName": "${aws:AutoScalingGroupName}",
      "Environment": "{{ env }}"
    },
    "aggregation_dimensions" : [["AutoScalingGroupName", "Environment"]],
    "metrics_collected": {
      "cpu": {
        "measurement": [
          "usage_idle",
          "usage_iowait",
          "usage_user",
          "usage_system",
          "usage_active" 

        ]
      },
      "disk": {
        "measurement": [
          "free",
          "used",
          "total",
          "used_percent",
          "inodes_free",
          "inodes_total"
        ]
      },
      "diskio": {
        "measurement": [
          "io_time",
          "reads",
          "reads_bytes",
          "reads_time",
          "writes",
          "writes_bytes",
          "writes_time"
        ]
      },
      "processes": {
        "measurement": [
          "blocked",
          "dead",
          "idle",
          "paging",
          "running",
          "sleeping",
          "stopped",
          "total_threads",
          "total",
          "wait",
          "zombies"
        ]
      },
      "mem": {
        "measurement": [
          "used",
          "total",
          "inactive",
          "free",
          "cached",
          "buffered",
          "available_percent",
          "active",
          "used_percent"
        ]
      },
      "swap": {
        "measurement": [
          "free",
          "used",
          "used_percent"
        ]
      }
    }
  }
}