#!/usr/bin/env bash

# endpoints to check
export DEFAULT_ENDPOINTS="foo:443 bar:443"

# notifications
export SEND_NOTIFICATIONS="false"   # Send slacks/pages? "true" or "false"
export WARN_WHEN="30:45"            # WARN  when >= 30 and < 45 days
export ALERT_WHEN="15:30"           # ALERT when >= 15 and < 30 days
export PAGE_WHEN="15"               # PAGE  when <= 15 days

# slack info
export WARN_SLACK_WEBHOOK_URL="https://hooks.slack.com/services/XXX/XXX/XXX"
export WARN_SLACK_CHAN="#notices"
export ALERT_SLACK_WEBHOOK_URL="https://hooks.slack.com/services/YYY/YYY/YYY"
export ALERT_SLACK_CHAN="#alerts"

# page info
export PAGE_WEBHOOK_URL="https://alert.victorops.com/integrations/generic/XXX/alert/XXX-XXX-XXX-XXX/ROUTING_KEY"

## TODO
# export DEFAULT_CERTFILES=""
