*
!.gitignore
!.python-version
!README.md
!app/__init__.py
!app/main.py
!app/templates/ab2d.file-name.j2
!app/templates/ab2d.prefs.j2
!app/templates/ab2d.sql.j2
!app/templates/bcda.file-name.j2
!app/templates/bcda.prefs.j2
!app/templates/bcda.sql.j2
!app/templates/dpc.file-name.j2
!app/templates/dpc.prefs.j2
!app/templates/dpc.sql.j2
!package.sh
!pyproject.toml
!uv.lock
