<configuration scan="false">
	<!-- Required to ensure that JUL respects log level changes. -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<!-- This appender will be sent all of the app's logging statements. -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- At 'debug', Hibernate will log SQL statements. -->
	<logger name="org.hibernate.SQL" level="info" />

    <!-- At 'debug', will display timing information about the idle task batches -->
	<logger name="gov.cms.bfd.pipeline.ccw.rif.load" level="info" />

	<!-- At 'debug', a RIF file load will log the record counts for all tables. Do not do this in PROD, or TEST -->
	<logger name="gov.cms.bfd.pipeline.ccw.rif.load.RifLoader.recordCounts" level="info" />

	<!-- At 'trace', Hibernate will log SQL parameter values. -->
	<logger name="org.hibernate.type" level="info" />
	
	<!-- Log each SQL statement run by Flyway, to give us a rough progress indicator. Note that this may need to be revisited when/if our Flyway scripts get longer/larger: dozens of extra log events are fine but thousands are probably not. -->
	<logger name="org.flywaydb.core.internal.dbsupport.SqlScript" level="debug" />

	<!-- Configure the root logger to filter to 'info' and more severe, and 
		send all events to 'STDOUT'. -->
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
