---

- name: Install Pre-requisites
  yum:
    name: "{{ item }}"
    state: present
  with_items:
    # Needed to run the ETL service.
    - java-1.11.0-openjdk
  become: true
  tags:
    - pre-ami

- name: Create ETL Service User
  user:
    name: "{{ data_pipeline_user }}"
    shell: /bin/false
  become: true
  tags: 
    - pre-ami

- name: Create ETL Service Directory
  file:
    path: "{{ data_pipeline_dir }}"
    state: directory
    owner: "{{ data_pipeline_user }}"
    group: "{{ data_pipeline_user }}"
    mode: u=rwx,g=rx,o=rx
  become: true
  tags: 
    - pre-ami

# Create the temp directory iff it's missing. (Don't want to accidentally
# change the permissions on /tmp.)
- name: Check for Custom Temp Directory
  stat:
    path: "{{ data_pipeline_tmp_dir }}"
  become: true
  register: stat_tmp
  when: data_pipeline_tmp_dir is defined
  tags: 
    - pre-ami

- name: Create Custom Temp Directory
  file:
    path: "{{ data_pipeline_tmp_dir }}"
    state: directory
    owner: "{{ data_pipeline_user }}"
    group: "{{ data_pipeline_user }}"
    mode: u=rwx,g=rx,o=rx
  become: true
  when: data_pipeline_tmp_dir is defined and stat_tmp.stat.exists == false
  tags: 
    - pre-ami

- name: Copy and Unzip Pipeline Application
  unarchive:
    src: "{{ data_pipeline_zip }}"
    dest: "{{ data_pipeline_dir }}"
    owner: "{{ data_pipeline_user }}"
    group: "{{ data_pipeline_user }}"
  become: true
  tags:
    - pre-ami

- name: Create Pipeline Service Wrapper Script
  template:
    src: bfd-pipeline-service.sh.j2
    dest: "{{ data_pipeline_dir }}/bfd-pipeline-service.sh"
    owner: "{{ data_pipeline_user }}"
    group: "{{ data_pipeline_user }}"
    mode: u=rwx,g=rx,o=rx
  become: true
  notify:
    - 'Restart Pipeline Service'
  tags: 
    - post-ami

- name: Create Pipeline Service Definition
  template:
    src: bfd-pipeline.service.j2
    dest: /etc/systemd/system/bfd-pipeline.service
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  become: true
  notify:
    - 'Enable Pipeline Service'
    - 'Restart Pipeline Service'
  tags: 
    - post-ami
