---
##
# Ensures that Apache is installed and running.
##

- name: Install Apache
  yum:
    name:
      - httpd
      - mod_ssl
    state: present
  become: true

- name: Apache Self Sign SSL Key - Copy from Vault
  copy:
    dest: "/etc/pki/tls/private/{{ item.dest_name }}"
    content: "{{ item.content }}"
  register: copy_ssl_build_key
  become: true
  no_log: true
  with_items:
    - dest_name: builds.key
      content: "{{ vault_ssl_build_key_private }}"

- name: Apache Self Sign SSL Cert - Copy from Files
  copy:
    dest: "/etc/pki/tls/certs/{{ item.dest_name }}"
    content: "{{ item.content }}"
  register: copy_ssl_build_key
  become: true
  no_log: true
  with_items:
    - dest_name: builds.crt
      content: "{{ lookup('file', 'files/builds.bfd-mgmt.crt') }}"
  notify:
    - Reload Apache

- name: Set Permissions on SSL Key and Certificate
  file:
    path: "{{ item.path }}"
    state: file
    owner: root
    group: root
    mode: "{{ item.mode }}"
  become: true
  with_items:
    - path: /etc/pki/tls/private/builds.key
      mode: u=rw,g=,o=
    - path: /etc/pki/tls/certs/builds.crt
      mode: u=rw,g=r,o=r

- name: Disable Default Configuration Files
  command: mv "{{ item }}" "{{ item }}.disabled"
  args:
    creates: "{{ item }}.disabled"
  become: true
  with_items:
    - /etc/httpd/conf.d/autoindex.conf
    - /etc/httpd/conf.d/userdir.conf
    - /etc/httpd/conf.d/welcome.conf
  notify:
    - Reload Apache

- name: Update Main Configuration File
  template:
    src: httpd.conf.j2
    dest: /etc/httpd/conf/httpd.conf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  become: true
  notify:
    - Reload Apache

- name: Update Root index.html
  copy:
    src: index.html
    dest: /var/www/html/index.html
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  become: true

- name: Create Virtual Host Directories
  file:
    path: "{{ item.path }}"
    state: directory
    owner: root
    group: root
    mode: "{{ item.mode }}"
  become: true
  with_items:
    - path: /var/www/builds
      mode: u=rwx,g=rx,o=rx
    - path: /var/www/builds/html
      mode: u=rwx,g=rx,o=rx
    - path: /var/www/builds/logs
      mode: u=rwx,g=rx,o=rx

- name: SELinux - Allow apache to modify files in /var/www/builds
  sefcontext:
    target: '/var/www(/.*)?'
    setype: httpd_sys_content_t
    state: present
  become: true

- name: SELinux - Allow apache to modify files in /var/www/builds
  sefcontext:
    target: '/var/www(/.*)?'
    setype: httpd_sys_rw_content_t
    state: present
  become: true

- name: SELinux - Allow Apache to Proxy
  seboolean:
    name: httpd_can_network_connect
    state: yes
    persistent: yes
  become: true

- name: SELinux - Apply new SELinux file context to filesystem
  command: restorecon -irv /var/www
  become: yes

# - name: Enable Required Modules
#   copy:
#     src: "{{ item }}"
#     dest: "/etc/httpd/conf.modules.d/{{ item }}"
#     owner: root
#     group: root
#     mode: u=rw,g=r,o=r
#   become: true
#   with_items: []
#   notify:
#     - Restart Apache

- name: Enable rewrite module
  apache2_module:
    name: rewrite
    state: present
    ignore_configcheck: True

- name: Update Configuration Files
  template:
    src: "{{ item }}.j2"
    dest: "/etc/httpd/conf.d/{{ item }}"
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  become: true
  with_items:
    - shared-ssl.conf
    - builds-http.conf
    - builds-https.conf
  notify:
    - Reload Apache

- name: Enable and Start Apache
  systemd:
    name: httpd
    enabled: true
    state: started
  become: true
