boto3-stubs
boto3-stubs[dynamodb,cloudwatch,s3]
# While Python has built-in support for unit testing via unittest, pytest is far "pythonic", has
# better assertion messages, and has better support for common testing patterns like 
# parameterization
pytest
isort
black
pylint
