# Yes, boto3 _is_ a dev-requirement as this Lambda is not a Docker-based Lambda. Python Lambdas
# using the default runtime run in an environment that already has boto3 installed, so this is
# declared explicitly for developers working on this Lambda locally
boto3
boto3-stubs
boto3-stubs[sqs,cloudwatch,s3]
# This is a package maintained by Amazon that has some significant quality-of-life improvements with
# respect to developing Lambda functions. It is not included in the default runtime, but Amazon
# provides a Lambda Layer in all Regions that the update-pipeline-slis Lambda uses that includes it
aws-lambda-powertools[all]
# While Python has built-in support for unit testing via unittest, pytest is far "pythonic", has
# better assertion messages, and has better support for common testing patterns like 
# parameterization
pytest
isort
black
pylint
