---
env_name_std: 'unknown-environment'

data_pipeline_dir: /usr/local/bluebutton-data-pipeline
data_pipeline_user: bb-etl
data_pipeline_loader_threads: 200
data_pipeline_jvm_args: -Xmx64g
data_pipeline_tmp_dir: /tmp
data_pipeline_idempotency_required: true
data_pipeline_new_relic_metric_host: 'https://gov-metric-api.newrelic.com'
data_pipeline_new_relic_metric_path: '/metric/v1'

## RDA API Pipeline
# Used to download FISS/MCS pre-adjudicated claims data.
#
# Set to true to enable the RDA pipeline jobs.
data_pipeline_rda_job_enabled: false

# Communication settings for RDA API server.
# These are defined in the vault rather than plain text.
data_pipeline_rda_grpc_host: undefined
data_pipeline_rda_grpc_port: 443

# Interval at which the PipelineManager should ensure the jobs are running.
data_pipeline_rda_job_interval_seconds: 300

# How many claims to store per transaction.
data_pipeline_rda_job_batch_size: 20

# How long to allow the RDA API stream to be idle before closing the connection.
data_pipeline_rda_grpc_max_idle_seconds: 600

# By default call the RDA API with no token.  Override this value in env specific vault
# to enable authentication.
data_pipeline_rda_grpc_auth_token: ''
