<configuration scan="false">

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${bfdServer.logs.dir:-./target/server-work/}access.log</file>
		<encoder>
			<!-- As we transition to structured logs, we need to leave our unstructured
				logs in place for a bit. Once the new logs are being pushed to CloudWatch
				and Splunk as expected, we can remove this old logging file & format. -->
			<pattern>%h %l &quot;%u&quot; [%t] &quot;%r&quot; &quot;%queryString&quot; %s %B %D %i{BlueButton-OriginalQueryId} %i{BlueButton-OriginalQueryCounter} [%i{BlueButton-OriginalQueryTimestamp}] %i{BlueButton-DeveloperId} &quot;%i{BlueButton-Developer}&quot; %i{BlueButton-ApplicationId} &quot;%i{BlueButton-Application}&quot; %i{BlueButton-UserId} &quot;%i{BlueButton-User}&quot; %i{BlueButton-BeneficiaryId}%n</pattern>
		</encoder>
	</appender>

	<appender-ref ref="FILE" />
</configuration>