"{{ data_server_dir }}/access.json" "{{ data_server_dir }}/bluebutton-server-app-log.json" {
    rotate 1
    daily
    #size of largest live logfile at time of creation was 272M w/out log rotation
    size 300M
    copytruncate
    compress
}

"{{ data_server_dir }}/access.log" {
    rotate 1
    daily
    #size of live logfile at time of creation was 30M w/out log rotation
    size 50M
    copytruncate
    compress
}

"{{ data_server_dir }}/gc.log" {
    rotate 1
    daily
    #size of live logfile at time of creation was 2.7M w/out log rotation
    size 5M
    copytruncate
    compress
}

"{{ data_server_dir }}/newrelic_agent.log" {
    rotate 1
    daily
    #size of live logfile at time of creation was 9.3k w/out log rotation
    size 15k
    copytruncate
    compress
}

"{{ data_server_dir }}/bfd-server-startup.log" {
    rotate 1
    daily
    #size of live logfile at time of creation was 224 w/out log rotation
    size 1k
    copytruncate
    compress
}
