[Unit]
Description=BFD Server
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory={{ ref_dir }}
ExecStart={{ ref_dir }}/bfd-server.sh
User={{ user }}

[Install]
WantedBy=multi-user.target
