<?xml version="1.0" encoding="UTF-8"?>
<extension
    xmlns="https://newrelic.com/docs/java/xsd/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="newrelic-extension extension.xsd"
    name="tracing"
    version="1.0"
    enabled="true">
  <instrumentation>
    <!-- The pointcut entries here tell New Relic to trace the specified library/framework methods.
         For methods we control in our application code, we use the New Relic API's @Trace
         annotation, instead. -->
    <pointcut>
      <className>ca.uhn.fhir.parser.BaseParser</className>
      <method>
        <name>encodeResourceToWriter</name>
        <parameters>
          <type>org.hl7.fhir.instance.model.api.IBaseResource</type>
          <type>java.io.Writer</type>
        </parameters>
      </method>
    </pointcut>
  </instrumentation>
</extension>
