<?xml version="1.0" encoding="UTF-8"?>
<extension
    xmlns="https://newrelic.com/docs/java/xsd/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="newrelic-extension extension.xsd"
    name="tracing"
    version="1.0"
    enabled="true">
  <instrumentation>
    <pointcut>
      <className>gov.cms.bfd.server.war.stu3.providers.ExplanationOfBenefitResourceProvider</className>
      <method>
        <name>findClaimTypeByPatient</name>
        <parameters>
          <type>gov.cms.bfd.server.war.stu3.providers.ClaimType</type>
          <type>java.lang.String</type>
        </parameters>
      </method>
    </pointcut>
    <pointcut>
      <className>gov.cms.bfd.server.war.stu3.providers.ExplanationOfBenefitResourceProvider</className>
      <method>
        <name>transformToEobs</name>
        <parameters>
          <type>gov.cms.bfd.server.war.stu3.providers.ClaimType</type>
          <type>java.util.List</type>
        </parameters>
      </method>
    </pointcut>
    <pointcut>
      <className>ca.uhn.fhir.parser.BaseParser</className>
      <method>
        <name>encodeResourceToWriter</name>
        <parameters>
          <type>org.hl7.fhir.instance.model.api.IBaseResource</type>
          <type>java.io.Writer</type>
        </parameters>
      </method>
    </pointcut>
  </instrumentation>
</extension>
