---
- name: Install Dependencies
  import_tasks: install-dependencies.yml
- name: Install Modern Python3
  import_tasks: install-python3.yml
- name: Install Utilities
  import_tasks: install-utilities.yml
