---
permalink: /swagger.html
layout: default
---
<div id="swagger-ui" class="swagger-ui"></div>
<script>
    window.onload = () => {
        window.ui = SwaggerUIBundle({
            url: 'assets/open-api.yaml',
            dom_id: '#swagger-ui',
        });
    };
</script>
    
