Host bluebutton-healthapt-lss-builds
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_dns_name'.format(vault_ec2_instance.lss.builds.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-test-data-pipeline
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_dns_name'.format(vault_ec2_instance.test.data_pipeline.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-test-data-server
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_dns_name'.format(vault_ec2_instance.test.data_server.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-prod-az-a-data-pipeline
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_dns_name'.format(vault_ec2_instance.production.az_a.data_pipeline.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-prod-az-a-data-server
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_dns_name'.format(vault_ec2_instance.production.az_a.data_server.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes
