---

# The directory that the Blue Button Data Server will be installed to. 
data_server_dir: /usr/local/bluebutton-data-server

# The system service that will run the Blue Button Data Server's app server.
data_server_appserver_service: bluebutton-appserver

# The system user that the Blue Button Data Server will run as.
data_server_user: bb-data

# The extra Java VM args to start the app server (Wildfly/JBoss) with.
data_server_appserver_jvmargs: '' 

# The management port used by the app server (Wildfly/JBoss).
data_server_appserver_management_port: 9990

# The management admin credentials for the app server (Wildfly/JBoss). An empty username indicates that no authentication should be expected or used.
data_server_appserver_management_username: ''
data_server_appserver_management_password: ''

# The port that the app server (Wildfly/JBoss) should host HTTPS on.
data_server_appserver_https_port: 8443

# The client certs/CAs that will be authorized to connect to the server.
# At least one of these should be defined, otherwise no clients will be authorized to connect to the server.
data_server_ssl_client_cas: []
data_server_ssl_client_certificates: []

# The max size of the DB connection pool for the Blue Button Data Server.
data_server_db_max_connections: 100

# Environment variables to set on the app server
os_environment_variables:
  - key: NEW_RELIC_LICENSE_KEY 
    value : "{{ vault_new_relic_license }}"
  - key: NEW_RELIC_PROXY_HOST 
    value : "{{ vault_proxy_host }}"
  - key: NEW_RELIC_PROXY_PORT 
    value : "{{ vault_proxy_port }}"
