---
# The directory that the Blue Button Data Server will be installed to.
data_server_dir: /usr/local/bfd-server

# The directory that will be set as the 'java.io.tmpdir'
data_server_tmp_dir: "{{ data_server_dir }}/tmp"

# The system service that will run the Blue Button Data Server's app server.
data_server_appserver_service: bfd-server

# The system user that the Blue Button Data Server will run as.
data_server_user: bfd

# The extra Java VM args to start the app server (Jetty) with.
data_server_appserver_jvmargs: '-Xms1024m -Xmx1024m -XX:MaxMetaspaceSize=1024m'

# The port that the app server (Jetty) should host HTTPS on.
data_server_appserver_https_port: 8443

# The client certs/CAs that will be authorized to connect to the server.
data_server_ssl_client_certificates: []

# The max size of the DB connection pool for the Blue Button Data Server.
db_hikari_max_pool_size: 40

# Whether or not partially adjudicated claims data resources are enabled.
pac_resources_enabled: false

# Configures the type of enabled source types for PAC claims
pac_claim_source_types: 'fiss,mcs'
