---

# The directory that the Blue Button Data Server will be installed to. 
data_server_dir: /usr/local/bfd-server

# The system service that will run the Blue Button Data Server's app server.
data_server_appserver_service: bfd-server

# The system user that the Blue Button Data Server will run as.
data_server_user: bfd

# The extra Java VM args to start the app server (Jetty) with.
data_server_appserver_jvmargs: '' 

# The port that the app server (Jetty) should host HTTPS on.
data_server_appserver_https_port: 8443

# The client certs/CAs that will be authorized to connect to the server.
# At least one of these should be defined, otherwise no clients will be authorized to connect to the server.
data_server_ssl_client_cas: []
data_server_ssl_client_certificates: []

# The max size of the DB connection pool for the Blue Button Data Server.
data_server_db_connections_max: 40

# Whether to enable BFD API V2
data_server_v2_enabled: false
