[Unit]
Description=Blue Button Data Pipeline Service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory={{ systemd/working_dir }}
ExecStart={{ systemd/exec_start }}
User={{ systemd/user }}

[Install]
WantedBy=multi-user.target
