#!/bin/bash

# Referenced by the pipeline's logback.xml file to add environment name for use in splunk.
export BFD_ENV_NAME='{{ env_name_std }}'


# Either don't set this variable, or set it to one of: BENEFICIARY, CARRIER, DME, HHA, HOSPICE, INPATIENT, OUTPATIENT, PDE, SNF
# export DATA_SET_TYPE_ALLOWED="BENEFICIARY"

# Set some additional variables.
JVM_ARGS='{{ data_pipeline_jvm_args }}'
SERVICE_SCRIPT="$(find {{ data_pipeline_dir }} -type f -name bfd-pipeline-app.sh)"

exec "$SERVICE_SCRIPT" \
	${JVM_ARGS} \
	-Djava.io.tmpdir={{ data_pipeline_tmp_dir }} -Dorg.jboss.logging.provider=slf4j \
	&>> "{{ data_pipeline_dir }}/bluebutton-data-pipeline.log"
