[Unit]
Description=Blue Button Data Pipeline Service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory={{ data_pipeline_dir }}
ExecStart={{ data_pipeline_dir }}/bfd-pipeline-service.sh
User={{ data_pipeline_user }}

[Install]
WantedBy=multi-user.target
