[Unit]
Description=Blue Button Data Pipeline Service
Wants=network-online.target
After=network.target network-online.target

[Service]
WorkingDirectory={{ working_dir }}
ExecStart={{ exec_start }}
User={{ user }}

[Install]
WantedBy=multi-user.target
