#!/bin/bash

export S3_BUCKET_NAME='{{ data_pipeline_s3_bucket }}'
export HICN_HASH_ITERATIONS='{{ data_pipeline_hicn_hash_iterations }}'  # The minimum number of iterations recommended by NIST is 1000.
export HICN_HASH_PEPPER='{{ data_pipeline_hicn_hash_pepper }}'
export DATABASE_URL='{{ data_pipeline_db_url }}'
export DATABASE_USERNAME='{{ data_pipeline_db_username }}'
export DATABASE_PASSWORD='{{ data_pipeline_db_password }}'
export LOADER_THREADS='{{ data_pipeline_loader_threads }}'
export IDEMPOTENCY_REQUIRED='{{ data_pipeline_idempotency_required }}'
export NEW_RELIC_APP_NAME='{{ data_pipeline_new_relic_app_name }}'
export NEW_RELIC_METRIC_HOST='{{ data_pipeline_new_relic_metric_host }}'
export NEW_RELIC_METRIC_PATH='{{ data_pipeline_new_relic_metric_path }}'
export NEW_RELIC_METRIC_KEY='{{ data_pipeline_new_relic_metric_key }}'
export RDA_JOB_ENABLED='{{ data_pipeline_rda_job_enabled }}'
export RDA_JOB_INTERVAL_SECONDS='{{ data_pipeline_rda_job_interval_seconds }}'
export RDA_JOB_BATCH_SIZE='{{ data_pipeline_rda_job_batch_size }}'
export RDA_GRPC_HOST='{{ data_pipeline_rda_grpc_host }}'
export RDA_GRPC_PORT='{{ data_pipeline_rda_grpc_port }}'
export RDA_GRPC_MAX_IDLE_SECONDS='{{ data_pipeline_rda_grpc_max_idle_seconds }}'

# Either don't set this variable, or set it to one of: BENEFICIARY, CARRIER, DME, HHA, HOSPICE, INPATIENT, OUTPATIENT, PDE, SNF
# export DATA_SET_TYPE_ALLOWED="BENEFICIARY"

java \
	{{ data_pipeline_jvm_args }} \
	-Djava.io.tmpdir={{ data_pipeline_tmp_dir }} \
	-jar "{{ data_pipeline_dir }}/{{ data_pipeline_jar | basename }}" \
	&>> "{{ data_pipeline_dir }}/bluebutton-data-pipeline.log"
