<configuration scan="true" scanPeriod="5 seconds">
	<!-- Required to ensure that JUL respects log level changes. -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<!-- This appender will be sent all of the app's logging statements. -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- At 'debug', this will ensure that request and response headers are logged. 
		At 'trace', this will ensure that request and response bodies are logged. -->
	<logger name="gov.hhs.cms.bluebutton.datapipeline.fhir.load.FhirLoader"
		level="info" />

	<!-- This logger should be controlled by modifying the 'gov.**.FhirLoader' 
		levels, as specified above. -->
	<logger name="ca.uhn.fhir.rest.client.interceptor.LoggingInterceptor"
		level="all" />

	<!-- Configure the root logger to filter to 'info' and more severe, and 
		send all events to 'STDOUT'. -->
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
