<configuration scan="false">

	<!-- This configuration file should really only be used during development, 
		as production deployments require log rolling and log retention of 7 years. 
		Production deployments can use the `logback.configurationFile` Java system 
		property to specify the path to a different configuration. -->

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${bbfhir.logs.dir:-./target/bluebutton-server/}bluebutton-server-app.log</file>
		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Configure some specific logging levels. Unless FhirServerConfig.HIBERNATE_DETAILED_LOGGING 
		is `true`, these four lines should generally be commented out. -->
	<!-- 
	<logger name="org.hibernate" level="info" />
	<logger name="org.hibernate.SQL" level="debug" />
	<logger name="org.hibernate.type" level="trace" />
	<logger name="org.hibernate.stat" level="debug" />
	 -->
	
	<!-- Enable request access logging (see SpringConfiguration). -->
	<logger name="bluebutton.web.access" level="debug" />

	<root level="info">
		<appender-ref ref="FILE" />
	</root>

</configuration>
