<configuration scan="false">

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${bbfhir.logs.dir:-./target/bluebutton-server/}bluebutton-server-app.log</file>
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<!-- We output the application log as newline-delimited JSON objects (NDJSON).
				This allows us to easily parse and search our logs. More importantly, it
				pairs very nicely with Logback's MDC: values added to the MDC will be available
				as separate keys in the JSON log events, which makes it super easy to extract
				them from the logs. -->
			<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
				<jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
					<!-- If you need things pretty-printed, pipe the log into jq or something like that. -->
					<prettyPrint>false</prettyPrint>
				</jsonFormatter>

				<!-- Add line breaks between each entry, to make tailing the log simpler. -->
				<appendLineSeparator>true</appendLineSeparator>

				<!-- Format timestamps per ISO8601. -->
				<timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampFormat>
				<timestampFormatTimezoneId>UTC</timestampFormatTimezoneId>
			</layout>
		</encoder>
	</appender>

	<!-- Configure some specific logging levels. Unless FhirServerConfig.HIBERNATE_DETAILED_LOGGING 
		is `true`, these four lines should generally be commented out. -->
	<!-- 
	<logger name="org.hibernate" level="info" />
	<logger name="org.hibernate.SQL" level="debug" />
	<logger name="org.hibernate.type" level="trace" />
	<logger name="org.hibernate.stat" level="debug" />
	 -->

	<root level="info">
		<appender-ref ref="FILE" />
	</root>

</configuration>
