<configuration scan="false">

	<!-- This configuration file should really only be used during development, 
		as production deployments require log rolling and log retention of 7 years. 
		Production deployments can use the `logback.configurationFile` Java system 
		property to specify the path to a different configuration. -->

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${bbfhir.logs.dir:-./target/bluebutton-server/}bluebutton-server-app.log</file>
		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Configure some specific logging levels. Unless FhirServerConfig.HIBERNATE_DETAILED_LOGGING 
		is `true`, these four lines should generally be commented out. -->
	<!-- 
	<logger name="org.hibernate" level="info" />
	<logger name="org.hibernate.SQL" level="debug" />
	<logger name="org.hibernate.type" level="trace" />
	<logger name="org.hibernate.stat" level="debug" />
	 -->
	
	<!-- Make the FHIR server's logging during loads less chatty (and less likely 
		to eat GBs and GBs of disk space unnecessarily). Specifically, this elides 
		logging events for every ETL transaction's start, operations, and completion. -->
	<logger name="ca.uhn.fhir.jpa.dao.BaseHapiFhirDao" level="warn" />
	<logger name="ca.uhn.fhir.jpa.dao.BaseHapiFhirResourceDao" level="warn" />
	<logger name="ca.uhn.fhir.jpa.dao.dstu3.FhirSystemDaoDstu3" level="warn" />

	<!-- Because the ETL service uses the `If-None-Exists` header, every create 
		operation logs one or more of these events, too. Turning down to avoid those 
		silly amounts of log spam. -->
	<logger name="ca.uhn.fhir.jpa.dao.SearchBuilder" level="warn" />

	<root level="info">
		<appender-ref ref="FILE" />
	</root>

</configuration>
