# The default version of setuptools installed by virtualenv may be too old and
# broken. Run this command first to upgrade it:
#     $ pip install --upgrade setuptools
# Reference: https://github.com/ansible/ansible/issues/31741#issuecomment-336889622
ansible==2.9.20
cryptography
pycrypto
awscli
boto
boto3
botocore
