<configuration scan="false">
	<!-- Required to ensure that JUL respects log level changes. -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<!-- This appender will be sent all of the app's logging statements. -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Disable the FHIR client logging by default, as it's super annoying 
		(unless I'm actually debugging with it, of course). -->
	<logger name="ca.uhn.fhir.rest.client.interceptor.LoggingInterceptor"
		level="off" />

	<!-- Configure the root logger to filter to 'info' and more severe, and 
		send all events to 'STDOUT'. -->
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
