<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    {%- feed_meta -%}
    {% if page.url == "/swagger.html" %}
    <link rel="stylesheet" href="assets/swagger-ui.css" />
    <link rel="stylesheet" href="assets/swagger-overrides.css" />
    <script src="assets/swagger-ui-bundle.js"></script>
    <script src="assets/swagger-ui-standalone-preset.js"></script>
    {% endif %}
</head>
