#!/bin/bash

{{ remote_jmeter_dir }}/bin/jmeter -s \
-Djava.rmi.server.hostname={{ ansible_default_ipv4.address }} \
-Dserver.rmi.localport={{ jmeter_server_rmi_local_port }} \
-Dclient.rmi.localport={{ jmeter_client_rmi_local_port }} \
-Dserver_port={{ jmeter_server_port }} \
-H {{ vault_proxy_host }} \
-P {{ vault_proxy_port }} \
-j {{ remote_test_dir }}/log-jmeter.txt \
&> {{ remote_test_dir }}/log-jmeter-console.txt