<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ./xsd/web-app_3_0.xsd">

	<!-- Manage the MDC context and ensure that the app's NDJSON-formatted HTTP 
		access log is populated. -->
	<filter>
		<filter-name>RequestResponseLoggingFilter</filter-name>
		<filter-class>gov.cms.bfd.server.war.RequestResponseLoggingFilter</filter-class>
		<async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>RequestResponseLoggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Limit exposure to request flooding, whether malicious, or as a result of a misconfigured client.
		See http://www.eclipse.org/jetty/javadoc/jetty-9/org/eclipse/jetty/servlets/DoSFilter.html for details. -->
	<filter>
		<filter-name>UserAwareDoSFilter</filter-name>
		<filter-class>gov.cms.bfd.server.launcher.UserAwareDoSFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>maxRequestsPerSec</param-name>
			<param-value>2</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UserAwareDoSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Ensures that metrics on status codes, active requests, and request 
		duration are collected. See http://metrics.dropwizard.io/2.2.0/manual/webapps/. -->
	<filter>
		<filter-name>instrumentedFilter</filter-name>
		<filter-class>com.codahale.metrics.servlet.InstrumentedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>instrumentedFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Expose the application's metrics and health checks via HTTP/HTTPS.
		See https://metrics.dropwizard.io/4.0.0/manual/servlets.html for details. -->
	<servlet>
		<servlet-name>metrics</servlet-name>
		<servlet-class>com.codahale.metrics.servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>metrics</servlet-name>
		<url-pattern>/metrics/*</url-pattern>
	</servlet-mapping>

</web-app>
