---

##
# Restarts the BFD Server service and waits for it to start accepting connections again afterwards.
##

# Silly, but prevents Ansible from reporting that the handler is missing when launch_enabled isn't
# true.
- name: Report Restart Service Enablement
  debug:
    msg: "Restart service?: {{ launch_enabled | default(false) }}"
  listen: Restart BFD Server Service

- name: Restart BFD Server Service Task
  service:
    name: "{{ data_server_appserver_service }}"
    state: restarted
  become: true
  listen: Restart BFD Server Service
  when: launch_enabled | default(false)

- name: Wait for BFD Server Service Ready
  wait_for:
    port: "{{ data_server_appserver_https_port }}"
    timeout: 90
  listen: Restart BFD Server Service
  when: launch_enabled | default(false)
  register: wait_for_bfd_port
  failed_when: false

- name: Grab Log Contents
  command: cat /usr/local/bfd-pipeline/bluebutton-data-pipeline.log
  listen: Restart BFD Server Service
  changed_when: false
  register: command_cat_pipeline_log
  when: >
    (launch_enabled | default(false)) and
    (wait_for_bfd_port.failed == true)

- name: Log Failed Application Launches
  ansible.builtin.debug:
    var: command_cat_pipeline_log
  listen: Restart BFD Server Service
  when: >
    (launch_enabled | default(false)) and
    (wait_for_bfd_port.failed == true)

- name: Fail if BFD Server Not Ready
  action: fail
  listen: Restart BFD Server Service
  when: >
    (launch_enabled | default(false)) and
    (wait_for_bfd_port.failed == true)
