#ignore artifacts from FHIR Mapping Language
StructureMaps/*
!StructureMaps/.gitkeep
out/*
!out/.gitkeep
!out/Patient.json 
!out/Coverage-FFS.json
!out/Coverage-FFS-PartB.json 
!out/Coverage-PartC.json 
!out/Coverage-PartD.json 
!out/Coverage-Dual.json 
!out/ExplanationOfBenefit.json 
!out/ExplanationOfBenefit-SNF.json 
!out/ExplanationOfBenefit-HHA.json 
!out/ExplanationOfBenefit-Hospice.json 
!out/ExplanationOfBenefit-Outpatient.json 
!out/ExplanationOfBenefit-MCS.json 
!out/ExplanationOfBenefit-Carrier.json 
!out/ExplanationOfBenefit-DME.json 
!out/ExplanationOfBenefit-Pharmacy.json
sushi/fsh-generated/*
validator_cli.jar
ReferenceTables/source-to-target-mappings
