#ignore artifacts from FHIR Mapping Language
StructureMaps/*
!StructureMaps/.gitkeep
batched_out/*
!batched_out/.gitkeep
!out/ExplanationOfBenefit-PriorAuth.json
sushi/fsh-generated/*
validator_cli.jar
ReferenceTables/source-to-target-mappings
data/*
temp_packages/*
node_modules
