# Set the tracing/logging level.
#
# When running a release build, this will be overridden
#   by the `tracing` dependency's "release_max_level_" value in `Cargo.toml`.
#
# This parameter is optional.
#RUST_LOG=db_query_checker=trace

# If you do not want the test run to use the year 2020 (default), then
#  pass in a starting year using DB_QUERIES_START_YEAR
#
# This parameter is optional.
#DB_QUERIES_START_YEAR=0003

# The path to save CSV results to.
# Note that this will overwrite any file already at that path.
#
# This parameter is optional.
#DB_QUERIES_OUTPUT=results/db_query_checker.csv

# The PostgreSQL DB connection URI,
#   as documented in <https://www.postgresql.org/docs/11/libpq-connect.html#LIBPQ-CONNSTRING>.
#
# Note: The password may need to be percent-encoded, if it contains special characters, e.g.:
#
#     $ python -c "import urllib, sys; print urllib.quote(sys.argv[1])" very%cool@password
#
# This paramter is required.
DB_QUERIES_URI=postgres://localuser:insecurelocalpw@localhost:5432/bfd

# The number of database connections to use for the primary queries.
# For production database servers,
#   a value of 100 here will saturate the server's CPU,
#   without causing too many spurious query timeouts.
#
# This parameter is optional.
#DB_QUERIES_CONNECTIONS=5