[Unit]
Description=BFD DB Migrator Service
Wants=network-online.target

[Service]
WorkingDirectory={{ systemd/working_dir }}
ExecStart={{ systemd/exec_start }}
User={{ systemd/user }}

[Install]
WantedBy=multi-user.target
