#!/usr/bin/env bash

export DATABASE_PASSWORD='{{ db/password }}'
export DATABASE_URL='{{ db/url }}'
export DATABASE_USERNAME='{{ db/username }}'

# The expression {{ '#' if foo|default('', true)|length < 1 }} prepends exports with '#' to prevent
# undefined or empty 'foo' variable from entering the environment. Maintains the existing templating
# strategy and remains flexible for manual manipulation of resultant script in development and
# troubleshooting scenarios.
# DATABASE_MAX_POOL_SIZE defaults to 1 in the bfd-db-migrator application
{{ '#' if db/max_connections |default('', true)|length < 1 }}export DATABASE_MAX_POOL_SIZE='{{ db/max_connections |default('', true) }}'

{{ '#' if not migrator_monitor_enabled|default(true) or not sqs_queue_name|default(false) else '' }}export DB_MIGRATOR_SQS_QUEUE='{{ sqs/queue_name }}'

{%- if new_relic/metrics/license_key is defined %}
export NEW_RELIC_METRIC_KEY='{{ new_relic/metrics/license_key }}'
{%- endif %}

{%- if new_relic/metrics/host is defined %}
export NEW_RELIC_METRIC_HOST='{{ new_relic/metrics/host }}'
{%- endif %}

{%- if new_relic/metrics/path is defined %}
export NEW_RELIC_METRIC_PATH='{{ new_relic/metrics/path }}'
{%- endif %}

{%- if new_relic/metrics/period is defined %}
export NEW_RELIC_METRIC_PERIOD='{{ new_relic/metrics/period }}'
{%- endif %}

LOGS_DIR='{{ paths/dirs/logs }}'

exec "{{ paths/files/launcher_script }}" \
	"-DbfdDbMigrator.logs.dir=${LOGS_DIR}" \
	-Djava.io.tmpdir={{ paths/dirs/tmp }} \
	&>> "{{ paths/files/launcher_log }}"
