[Unit]
Description=BFD DB Migrator Service
Wants=network-online.target

[Service]
WorkingDirectory={{ ref_dir }}
ExecStart={{ ref_dir }}/bfd-db-migrator-service.sh
User={{ user }}

[Install]
WantedBy=multi-user.target
