[Unit]
Description=Privileged monitoring and messaging functionality for the bfd-db-migrator.service

[Service]
WorkingDirectory={{ db_migrator_dir }}
ExecStart={{ db_migrator_dir }}/migrator-monitor.sh

[Install]
WantedBy=multi-user.target
