[Unit]
Description=Blue Button Data Pipeline Service

[Service]
WorkingDirectory={{ data_pipeline_dir }}
ExecStart={{ data_pipeline_dir }}/bluebutton-data-pipeline-app.sh
User={{ data_pipeline_user }}

[Install]
WantedBy=multi-user.target
