Host bluebutton-healthapt-lss-builds
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.lss.builds.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-test-data-pipeline
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.test.data_pipeline.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-test-data-server-a-1
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.test.data_server_a_1.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-test-data-server-b-1
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.test.data_server_b_1.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-dpr-data-pipeline
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.developer_preview.data_pipeline.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-dpr-data-server-a-1
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.developer_preview.data_server_a_1.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-dpr-data-server-b-1
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.developer_preview.data_server_b_1.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-prod-data-pipeline
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.production.data_pipeline.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-prod-data-server-a-1
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.production.data_server_a_1.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes

Host bluebutton-healthapt-prod-data-server-b-1
  HostName {{ ec2_search_bbapi | json_query('instances[?tags.Name==`{}`] | [0].private_ip_address'.format(vault_ec2_instance.production.data_server_b_1.name)) }}
  User {{ vault_users_deploy }}
  PreferredAuthentications publickey
  IdentitiesOnly yes
