---
--- 

#swagger-ui {
    .try-out {
        display: none !important;
        visibility: hidden !important;
    }

    code {
        background-color: unset;
    }

    table {
        border: unset;
        color: unset;
        margin-bottom: unset;
    }

    table tr:nth-child(even) {
        background-color: unset;
    }

    table th {
        background-color: unset;
        border: unset;
        border-bottom-color: unset;
    }

    table td {
        border: unset;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: unset;
    }

    pre,code {
        border: unset;
        border-radius: unset;
        background-color: unset;
    }

    code {
        padding: unset;
    }
}
