<configuration scan="true" scanPeriod="5 seconds">
	<!-- Required to ensure that JUL respects log level changes. -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<!-- This appender will be sent all of the app's logging statements. -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>./target/migratorOutput.log</file>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="org.hibernate.validator" level="debug" />
	<!-- Configure the root logger to filter to 'info' and more severe, and 
		send all events to 'STDOUT'. -->
	<root level="info">
		<appender-ref ref="FILE" />
	</root>
</configuration>
