black
isort
pylint
setuptools>=70.0.0

# Below packages are explicitly pinned to versions that are resolved by pip-compile for
# requirements.txt so that it is possible to install both requirements.txt and dev-requirements.txt
# into a single environment. Priority is given to requirements.txt for shared packages

click==8.1.7
