# This file represents a possible locust.conf file that can be used in-place of command-line arguments.
# See https://docs.locust.io/en/stable/configuration.html#configuration-file

# These parameters are default Locust parameters.
# See https://docs.locust.io/en/stable/configuration.html#command-line-options
headless = true
spawn-rate = 5
host = "http://test.bfd.cms.gov/"
users = 100

# These parameters are custom-defined parameters needed to run BFD-specific tests.
# See the README for more information
spawned-runtime = 10s
database-connection-string = postgres://.../bfd
table-sample-percent = 0.25
client-cert-path = /some/path/to/client/cert
stats-store-file = true
stats-env = TEST
stats-store-tag = some_tag
stats-store-tag = some_tag2
stats-compare-previous = true
