# Ignore the Python virtual environment.
venv/

# Ignore the jmeter ephemeral files
results/
support/
jmeter.log

# Ignore vault password file and extravars.yml
vault.password
extravars.yml

# Ignore any retry files created by ansible
*.retry

# ignore temporary files
*.swp
