[defaults]
vault_password_file = vault.password
log_path = ./ansible.log

# Automatically accept SSH thumbprints when machines are provisioned.
# ATTENTION: DO NOT USE in production environments as it allows for man-in-the-middle attacks
host_key_checking = False
remote_user = ec2-user

# Tweak some timeout settings to try and prevent ssh failures
[persistent_connection]
connect_timeout = 120
command_timeout = 60

# Cygwin wasn't connecting to the servers correctly, so I added the below options
# https://stackoverflow.com/questions/20959792/is-ssh-controlmaster-with-cygwin-on-windows-actually-possible
[ssh_connection]
ssh_args = -o ControlMaster=no

# Workaround for `udevadm info --query property --name /dev/x...` timeouts we're seeing.
# References:
# * <https://jira.cms.gov/browse/BLUEBUTTON-816>
# * <https://github.com/ansible/ansible/issues/43884>
# * Per <https://github.com/ansible/ansible/pull/49398>, may not be a problem in Ansible releases after 2019-01-23.
gather_timeout = 30