[defaults]
vault_password_file = vault.password

# Automatically accept SSH thumbprints when machines are provisioned.
# ATTENTION: DO NOT USE in production environments as it allows for man-in-the-middle attacks
host_key_checking = False
remote_user = ec2-user

# Tweak some timeout settings to try and prevent ssh failures
[persistent_connection]
connect_timeout = 120
command_timeout = 60
