[defaults]
vault_password_file = vault.password

# Automatically accept SSH thumbprints when machines are provisioned.
# ATTENTION: DO NOT USE in production environments as it allows for man-in-the-middle attacks
host_key_checking = False

inventory = ./hosts.yml
