*
!bfd-model/bfd-model-rif/src/main/resources/db/migration
!bfd-server/bfd-server-launcher/target/bfd-server-launcher-1.0.0-SNAPSHOT.zip
!bfd-server/bfd-server-war/target/bfd-server-war-1.0.0-SNAPSHOT.war
!bfd-pipeline/bfd-pipeline-app/target/bfd-pipeline-app-1.0.0-SNAPSHOT.zip
!bfd-db-migrator/target/bfd-db-migrator-1.0.0-SNAPSHOT.zip
