BFD_PORT=6500
BFD_V2_ENABLED=true
BFD_KEYSTORE=/app/bfd-server/dev/ssl-stores/server-keystore.jks
BFD_TRUSTSTORE=/app/bfd-server/dev/ssl-stores/server-truststore.jks
BFD_WAR=/app/bfd-server/bfd-server-war/target/bfd-server-war-1.0.0-SNAPSHOT.war
LOGS_DIR=/app
DB_URL=jdbc:postgresql://bfd-db:5432/bfd
DB_USERNAME=bfd
DB_PASSWORD=InsecureLocalDev
DB_CONNECTIONS_MAX=40
SCHEMA_APPLY=true
TMP_DIR=/tmp
