<configuration scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%date{ISO8601} [%thread] %-5level %logger{36} [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- Set to 'debug' to log FHIR test client request and response summaries,
		or to 'trace' to log the full requests and responses. -->
	<logger name="gov.cms.bfd.server.war.ServerTestUtils" level="debug" />
	<logger name="gov.cms.bfd.DatabaseTestUtils" level="debug" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>