[defaults]

# Use an inventory file specific to this repo/project.
inventory = ./hosts

# Look for the Ansible Vault password in this (.gitignore'd) file.
# If you need this password, please contact karl.davis@cms.hhs.gov.
vault_password_file = vault.password

# Ensures that roles & modules installed from install_roles.yml can be used.
roles_path = ./roles_external:../roles
library = ./roles_external:../roles

# Workaround for https://github.com/ansible/ansible/issues/13278.
timeout = 120

# Retry files haven't proven useful for me yet, so just disable them.
retry_files_enabled = False

# Ensure that Ansible output is logged, so that ansible-playbook-wrapper can manage it.
log_path = ./logs/ansible.log

# Log how long each Ansible task takes to run.
# Reference: http://stackoverflow.com/a/29132716/1851299
callbacks_enabled = profile_tasks

# Workaround for `udevadm info --query property --name /dev/x...` timeouts we're seeing.
# References:
# * <https://jira.cms.gov/browse/BLUEBUTTON-816>
# * <https://github.com/ansible/ansible/issues/43884>
# * Per <https://github.com/ansible/ansible/pull/49398>, may not be a problem in Ansible releases after 2019-01-23.
gather_timeout = 30

[ssh_connection]
# Significantly speeds up Ansible processing. Note: RHEL 7 systems have 
# `requiretty` enabled by default, which will prevent this from working until
# it's addressed.
pipelining = True

# TODO: document that this is required for Cygwin
# may want to pass in this parameter within Cygwin when running manually
#ssh_args = -o ControlMaster=no

[inventory]
#enable_plugins = ini
