---
##
# Builds a 'Platinum' AMI (updates) and installs program specific dependencies 
# from a base Gold Image in the CCS AWS Environment
##
- name: Build Platinum AMI
  hosts: all
  user: ec2-user
  become: true
  gather_facts: no
  vars:
    ansible_ssh_pipelining: no

  tasks:
    - import_role:
        name: base_patch
    - name: Enable java11 repository
      command: amazon-linux-extras enable java-openjdk11
    - name: Install dependencies
      yum:
        name:
          - java-11-openjdk-devel
          - git
          - ansible
          - python2-boto3
          - python2-botocore
          - amazon-cloudwatch-agent
