---
##
# Configures the ETL Server and data-pipeline app for CCS env
##
- name: Configure ETL Server
  hosts: all
  become: true
  remote_user: ec2-user
  gather_facts: yes
  vars:
    ansible_ssh_pipelining: no
<<<<<<< HEAD
    bfd_pipeline_dir: '/usr/local/bfd-pipeline'
=======
    bfd_pipeline_dir: '/bluebutton-data-pipeline'
>>>>>>> master
    env: "test"

  tasks:
    - name: Include global variables
      include_vars:
        file: vars/000_cross_env_vars.yml
      tags: [pre-ami, post-ami]
    
    - name: Include env specific variables
      include_vars:
        dir: vars/{{ env }}
      tags: [pre-ami, post-ami]

    - name: Apply base Cloudwatch Agent Role
      import_role:
        name: cloudwatch-agent-instrumented
    
    - name: Apply latest host security patches
      import_role:
        name: base_patch

    - name: Configure EFT EFS file systems
      import_tasks: tasks/eft_efs.yml
      tags:
        - pre-ami

    - name: Apply Blue Button Data Pipeline Role
      import_role:
        name: bfd-pipeline
      vars:
        data_pipeline_dir: "{{ bfd_pipeline_dir }}"
        # Note: The `data_pipeline_zip` variable should have been provided by `--extra-vars` on the command line.
        data_pipeline_jvm_args: "-Xmx{{ ((data_pipeline_ec2_instance_type_mem_mib | int) * 0.80) | int }}m -XX:+PreserveFramePointer"
        data_pipeline_tmp_dir: "{{ bfd_pipeline_dir }}/tmp"
        data_pipeline_loader_threads: "{{ data_pipeline_ec2_instance_type_vcpu * 25 }}"
        data_pipeline_hicn_hash_iterations: "{{ vault_data_pipeline_hicn_hash_iterations }}"
        data_pipeline_hicn_hash_pepper: "{{ vault_data_pipeline_hicn_hash_pepper }}"
        data_pipeline_s3_bucket: "{{ vault_data_pipeline_s3_bucket }}"
        # Primary (i.e. write) DB defined in `environments/<env>/group_vars/all/vault.yml`:
        data_pipeline_db_url: "{{ vault_data_db_primary_url }}"
        data_pipeline_db_username: "{{ vault_data_pipeline_db_username }}"
        data_pipeline_db_password: "{{ vault_data_pipeline_db_password }}"
        #data_pipeline_loader_threads: (see group_vars/all/main.yml
        data_pipeline_new_relic_app_name: "BFD Pipeline ({{ env_name_std }})"
        data_pipeline_new_relic_metric_key: "{{ vault_data_pipeline_new_relic_metric_key }}"

    - name: Add SSH users
      import_role:
        name: ssh_users
      tags:
        - pre-ami

  handlers:
    - import_tasks: handlers/main.yml
