[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==4.2.0"
boto = "*"
boto3 = "*"
cryptography = "*"
pycrypto = "*"
awscli = "*"

[requires]
python_version = "3.7"
