{
  "metrics": {
    "namespace": "bfd-{{ env_name_std }}/bfd-migrator/CWAgent",
    "metrics_collected": {
      "collectd": {}
    }
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/messages",
            "log_group_name": "/bfd/{{ env_name_std }}/var/log/messages",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%b %d %H:%M:%S"
          },
          {
            "file_path": "/var/log/secure",
            "log_group_name": "/bfd/{{ env_name_std }}/var/log/secure",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%b %d %H:%M:%S"
          },
          {
            "file_path": "{{ ref_dir }}/migrator-log.json",
            "log_group_name": "/bfd/{{ env_name_std }}/bfd-db-migrator/migrator-log.json",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%d %H:%M:%S,%f"
          }
        ]
      }
    }
  }
}
