{
  "metrics": {
    "append_dimensions": {
      "InstanceId": "${aws:InstanceId}",
      "AutoScalingGroupName": "${aws:AutoScalingGroupName}",
      "Environment": "{{ env }}"
    },
    "aggregation_dimensions" : [["AutoScalingGroupName", "Environment"], ["Environment"]],
    "metrics_collected": {
      "cpu": {
        "measurement": [
          "usage_idle",
          "usage_iowait",
          "usage_user",
          "usage_system"
        ]
      },
      "disk": {
        "measurement": [
          "used_percent",
          "inodes_free"
        ]
      },
      "diskio": {
        "measurement": [
          "io_time"
        ]
      },
      "mem": {
        "measurement": [
          "used_percent"
        ]
      },
      "swap": {
        "measurement": [
          "used_percent"
        ]
      },
      "netstat": {
        "measurement": [
           "tcp_established"
        ]
      }
    }
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/{{ data_server_dir }}/{{ data_server_container_name }}/standalone/log/access*.log",
            "log_group_name": "{{ env }}_jboss_access",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%d/%b/%Y:%H:%M:%S"
          },
          {
            "file_path": "/{{ data_server_dir }}/{{ data_server_container_name }}/standalone/log/server.log*",
            "log_group_name": "/bfd/{{ env }}/data-server",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%d %H:%M:%S,%f"
          },
          {
            "file_path": "/jboss/bluebutton-server-app-log-access.json",
            "log_group_name": "/bfd/{{ env }}/data-server/access",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%dT%H:%M:%S.%f%z"
          },
          {
            "file_path": "/jboss/bluebutton-server-app-log-database.json",
            "log_group_name": "/bfd/{{ env }}/data-server/database",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%dT%H:%M:%S.%f%z"
          },
          {
            "file_path": "/jboss/bluebutton-server-app.log",
            "log_group_name": "/bfd/{{ env }}/data-server/message.txt",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%d %H:%M:%S,%f",
            "multi_line_start_pattern": "^[\\d\\d\\d\\d-\\d\\d-\\d\\d ]"
          },
          {
            "file_path": "/jboss/bluebutton-server-app-log.json",
            "log_group_name": "/bfd/{{ env }}/data-server/message.json",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%dT%H:%M:%S.%f%z"
          },
          {
            "file_path": "/jboss/gc.log",
            "log_group_name": "/bfd/{{ env }}/data-server/gc.log",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%dT%H:%M:%S.%f%z",
            "multi_line_start_pattern": "^[\\d\\d\\d\\d-\\d\\d-\\d\\d ]"
          }
        ]
      }
    }
  }
}
