{
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/messages",
            "log_group_name": "/bfd/{{ env }}/var/log/messages",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%b %d %H:%M:%S"
          },
          {
            "file_path": "/var/log/secure",
            "log_group_name": "/bfd/{{ env }}/var/log/secure",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%b %d %H:%M:%S"
          },
          {
            "file_path": "{{ bfd_server_dir }}/access.json",
            "log_group_name": "/bfd/{{ env }}/bfd-server/access.json",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%dT%H:%M:%S%z"
          },
          {
            "file_path": "{{ bfd_server_dir }}/access.log",
            "log_group_name": "/bfd/{{ env }}/bfd-server/access.txt",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%d/%b/%Y:%H:%M:%S %z"
          },
          {
            "file_path": "{{ bfd_server_dir }}/bluebutton-server-app-log.json",
            "log_group_name": "/bfd/{{ env }}/bfd-server/messages.json",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%dT%H:%M:%S%z"
          },
          {
            "file_path": "{{ bfd_server_dir }}/gc.log",
            "log_group_name": "/bfd/{{ env }}/bfd-server/gc.log",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%dT%H:%M:%S%z",
            "multi_line_start_pattern": "^[\\d\\d\\d\\d-\\d\\d-\\d\\d ]"
          },
          {
            "file_path": "{{ bfd_server_dir }}/newrelic_agent.log",
            "log_group_name": "/bfd/{{ env }}/bfd-server/newrelic_agent.log",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%b %d, %Y %H:%M:%S %z"
          },
          {
            "file_path": "{{ bfd_server_dir }}/bfd-server-startup.log",
            "log_group_name": "/bfd/{{ env }}/bfd-server/bfd-server-startup.log",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%d %H:%M:%S"
          },
          {
            "file_path": "{{ bfd_server_dir }}/loadedFilterManagerLog.json",
            "log_group_name": "/bfd/{{ env }}/bfd-server/loadedFilterManagerLog.log",
            "log_stream_name": "{instance_id}",
            "timestamp_format": "%Y-%m-%d %H:%M:%S"
          }
        ]
      }
    }
  }
}
