extensions:
  health_check:

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: localhost:4317
      http:
        endpoint: localhost:55681
  awsxray:
    endpoint: localhost:2000
    transport: udp

processors:
  batch/traces:
    timeout: 1s
    send_batch_size: 50
  batch/metrics:
    timeout: 60s

exporters:
  awsxray:
  awsemf:
    log_group_name: 'bfd-{{ env }}/bfd-pipeline/AOTLogGroup'
    log_stream_name: 'bfd-{{ env }}/bfd-pipeline/AOTLogStream'
    namespace: 'bfd-{{ env }}/bfd-pipeline/AOTMetricNS'
    dimension_rollup_option: 1
    
service:
  pipelines:
    traces:
      receivers: [otlp,awsxray]
      processors: [batch/traces]
      exporters: [awsxray]
    metrics:
      receivers: [otlp]
      processors: [batch/metrics]
      exporters: [awsemf]

  extensions: [health_check]