# Ignore the Python virtual environment and external roles.
venv/
roles_external/

# Ignore Ansible retry files.
*.retry

# Ignore packer manifest files
manifest_*

# Ignore Ansible log files.
logs/

# Ignore Terraform compiles files and modules
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
.terraform/

# Ignore editor stuff
.vscode
