{{ 'HDR_BENEDATASHR' }}{{ extract_date }}
{% for row in data %}
{{- '%-11s'  | format(row['MBI']        | default('', True)) }}
{{- '%-1s'   | format(row['PREFINDTOR'] | default('', True)) }}
{% endfor %}
{{- 'TRL_BENEDATASHR' }}{{- extract_date }}{{- '%010d' | format(data | length) }}
