name: 'CI - Ansible'
on:
  workflow_call:
    inputs:
      role:
        required: true
        type: string
      image_tag:
        required: false
        type: string

jobs:
  test-ansible-role:
    runs-on: ubuntu-latest
    env:
      image_tag: ${{ inputs.image_tag }}
    steps:
      - name: 'Checkout repo'
        uses: actions/checkout@v2
      - name: 'Run Tests for ${{ inputs.role }} Role'
        run: |
          export IMAGE_TAG="${image_tag:-$(git rev-parse --short HEAD)}"
          ops/ansible/roles/${{ inputs.role }}/test/run-tests.sh "$IMAGE_TAG"
