name: 'CI - Java'
on: pull_request

env:
  # workflow file matchers - workflow jobs will only run if matching files are found
  # please see https://github.com/CMSgov/beneficiary-fhir-data/pull/773 for why we
  # are using this workflow logic
  workflow_files_re: ^apps/bfd-

jobs:
  workflow:
    name: Checking workflow
    runs-on: ubuntu-latest
    outputs:
      files: ${{ steps.workflow_files.outputs.files }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - id: workflow_files
        run: |
          echo "::set-output name=files::$(git diff --name-only --diff-filter=ACMRTD HEAD^ HEAD | grep -E '${{ env.workflow_files_re }}')"

  mvn-fmt-maven-plugin:
    runs-on: macos-latest
    needs: workflow
    if: needs.workflow.outputs.files
    steps:
      - uses: actions/checkout@v2
      - name: 'Setup JDK'
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: 'Generate maven toolchain config'
        run: |
          cat << EOF > ~/.m2/toolchains.xml
          <toolchains>
            <toolchain>
              <type>jdk</type>
              <provides>
                <version>11</version>
                <vendor>OpenJDK</vendor>
              </provides>
              <configuration>
                <jdkHome>$JAVA_HOME</jdkHome>
              </configuration>
            </toolchain>
          </toolchains>
          EOF
      - name: 'Run maven ${{ matrix.mvn_commmand }}'
        run: mvn com.coveo:fmt-maven-plugin:check
        working-directory: ./apps
  
  mvn-verify:
    runs-on: macos-latest
    needs: workflow
    if: needs.workflow.outputs.files
    steps:
      - name: 'Configure AWS credentials'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.GA_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.GA_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: 'Checkout repo'
        uses: actions/checkout@v2
      - name: 'Setup JDK'
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: 'Generate Maven Config'
        run: |
          cat << EOF > ~/.m2/toolchains.xml
          <toolchains>
            <toolchain>
              <type>jdk</type>
              <provides>
                <version>11</version>
                <vendor>OpenJDK</vendor>
              </provides>
              <configuration>
                <jdkHome>$JAVA_HOME</jdkHome>
              </configuration>
            </toolchain>
          </toolchains>
          EOF
      - name: 'Run Maven Build'
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
            mvn --batch-mode deploy
          else
            mvn --batch-mode verify
          fi
        working-directory: ./apps
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Upload test artifacts'
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: mvn-verify-build-logs
          path: |
            **/target/surefire-reports/*
            **/target/failsafe-reports/*
            bfd-server/bfd-server-war/target/server-work/access.*
            bfd-server/bfd-server-war/target/server-work/server-console.log
