name: CI - Synthetic Pipeline

on:
  pull_request:
    paths:
      - "apps/bfd-model-idr/*"
      - "apps/bfd-pipeline/bfd-pipeline-idr/*"
      - ".github/workflows/ci-pipeline-synthetic.yml"
  merge_group:

jobs:
  run-synthetic:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        id: code-checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.8.10"
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: "22"
      # Maven is needed to run the migrator
      - name: "Setup JDK"
        uses: actions/setup-java@v5
        with:
          java-version: "25"
          distribution: "corretto"
      - name: Install dependencies
        run: npm install -g fsh-sushi
      - name: Build sushi
        run: |
          cd ${{ github.workspace }}/apps/bfd-model-idr
          sushi build ./sushi
      - name: Ensure synthetic data pipeline runs
        run: |
          cd ${{ github.workspace }}/apps/bfd-model-idr
          uv run patient_generator.py
          uv run claims_generator.py ./out/SYNTHETIC_BENE_HSTRY.csv
          cd ../bfd-pipeline-idr
          ./run-db.sh
      - name: Ensure synthetic data pipeline runs with sandbox benes
        run: |
          cd ${{ github.workspace }}/apps/bfd-model-idr
          uv run patient_generator.py ./SYNTHETIC_BENE_HSTRY.csv
          uv run claims_generator.py ./out/SYNTHETIC_BENE_HSTRY.csv
          cd ../bfd-pipeline-idr
          ./run-db.sh
