name: 'CI - Terraform'
on: pull_request

env:
  # workflow file matchers - workflow jobs will only run if matching files are found
  workflow_files_re: ^ops/

jobs:
  workflow:
    name: Checking workflow
    runs-on: ubuntu-latest
    outputs:
      files: ${{ steps.workflow_files.outputs.files }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - id: workflow_files
        run: |
          echo "::set-output name=files::$(git diff --name-only --diff-filter=ACMRTD HEAD^ HEAD | grep -E '${{ env.workflow_files_re }}')"

  tf-validate:
    runs-on: ubuntu-latest
    needs: workflow
    if: needs.workflow.outputs.files
    strategy:
      matrix:
        tf_version: ['0.12.31']
        tf_environment: [test, prod-sbx, prod, mgmt]
        tf_resources: [stateless, stateful]
    steps:
      - name: 'Checkout repo'
        uses: actions/checkout@v2
      - name: 'Run terraform init'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: ${{ matrix.tf_version }}
          tf_actions_subcommand: init
          tf_actions_working_dir: ./ops/terraform/env/${{ matrix.tf_environment }}/${{ matrix.tf_resources }}/
          tf_actions_comment: false
          args: '-backend=false'
      - name: 'Run terraform validate'
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: ${{ matrix.tf_version }}
          tf_actions_subcommand: validate
          tf_actions_working_dir: ./ops/terraform/env/${{ matrix.tf_environment }}/${{ matrix.tf_resources }}/
          tf_actions_comment: false