name: 'Run shellcheck'
on:
  pull_request:
permissions: 
  contents: read
jobs:
  lint:
    name: Shellcheck
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Run Shellcheck
        id: ShellCheck
        uses: redhat-plumbers-in-action/differential-shellcheck@v5
        env:
          SHELLCHECK_OPTS: '-e SC1071 -e SC2239'
        with:
          severity: warning
          triggering-event: pull_request
