{# ab2d.sql.j2 #}
with ordered_xref as (
    select
        bene_sk,
        bene_xref_sk,
        bene_hicn_num,
        src_rec_crte_ts,
        row_number() over (
            partition by bene_sk,
            bene_xref_sk
            order by
                src_rec_updt_ts desc
        ) as row_order
    from
        cms_vdm_view_mdcr_prd.v2_mdcr_bene_xref
),
current_xref as (
    select
        ox.bene_sk,
        ox.bene_xref_sk,
        bx.bene_kill_cred_cd,
        bx.src_rec_updt_ts,
        bx.idr_insrt_ts,
        bx.idr_updt_ts
    from
        ordered_xref ox
        join cms_vdm_view_mdcr_prd.v2_mdcr_bene_xref bx on bx.bene_sk = ox.bene_sk
        and bx.bene_xref_sk = ox.bene_xref_sk
        and bx.bene_hicn_num = ox.bene_hicn_num
        and bx.src_rec_crte_ts = ox.src_rec_crte_ts
    where
        ox.row_order = 1
),
beneficiaries_history as (
    select
        hstry.bene_mbi_id,
        hstry.bene_sk
    from
        cms_vdm_view_mdcr_prd.v2_mdcr_bene_hstry hstry
        left join current_xref xref on xref.bene_sk = hstry.bene_xref_sk
        and xref.bene_xref_sk = hstry.bene_sk
        and hstry.bene_mbi_id is not null
),
prefs_sks as (
select bene_sk
from idrc_prd.cms_vdm_view_mdcr_prd.v2_mdcr_bene_shrng_prefnc
where bene_shrng_prefnc_type_cd = 'MED_AB2D'                              {#- only fetch 'MED_AB2D' Coded preferences for AB2D #}
    and idr_trans_obslt_ts = TO_DATE('9999-12-31', 'YYYY-MM-DD')          {#- only fetch the latest preference record #}
    and bene_shrng_prefnc_trmntn_dt = TO_DATE('9999-12-31', 'YYYY-MM-DD') {#- only fetch preferences that haven't yet been terminated #}
    and idr_insrt_ts BETWEEN to_timestamp('{{query_since_timestamp}}') AND to_timestamp('{{query_until_timestamp}}')
)
select distinct
    bh.bene_mbi_id,
    to_char(prefs.bene_shrng_prefnc_efctv_dt, 'YYYYMMDD') as bene_shrng_prefnc_efctv_dt,
    prefs.bene_shrng_prefnc_opt_in_sw,
    prefs.idr_insrt_ts,
from idrc_prd.cms_vdm_view_mdcr_prd.v2_mdcr_bene_shrng_prefnc prefs
join beneficiaries_history bh
    on bh.bene_sk = prefs.bene_sk and bh.bene_mbi_id is not null
where
    prefs.bene_sk in (select bene_sk from prefs_sks)                            {#- only fetch SKs that match the sks with preferences from the queried period #}
    and prefs.bene_shrng_prefnc_type_cd = 'MED_AB2D'                            {#- only fetch 'MED_AB2D' Coded preferences for AB2D #}
    and prefs.idr_trans_obslt_ts = TO_DATE('9999-12-31', 'YYYY-MM-DD')          {#- only fetch the latest preference record #}
    and prefs.bene_shrng_prefnc_trmntn_dt = TO_DATE('9999-12-31', 'YYYY-MM-DD') {#- only fetch preferences that haven't yet been terminated #}
{# ab2d.sql.j2 #}
