<VirtualHost *:443>
  ServerName {{ vault_builds_server_name }}
  ServerAlias www.{{ vault_builds_server_name }}
  
  # Disable TRACEs
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
  RewriteRule .* - [F]

  DocumentRoot /var/www/builds/html
  <Directory /var/www/builds/html/>
    Require all denied
  </Directory>
  
  LogLevel warn
  ErrorLog /var/www/builds/logs/error_log
  TransferLog /var/www/builds/logs/access_log
  
  ServerAdmin {{ vault_builds_sysadmin_email }}
  
  # Enable SSL for this virtual host. (General SSL configuration is in
  # shared-ssl.conf.) 
  SSLEngine on
  SSLCertificateFile /etc/pki/tls/certs/builds.crt
  SSLCertificateKeyFile /etc/pki/tls/private/builds.key
  #SSLCertificateChainFile /etc/pki/tls/certs/chain
  #SSLCACertificateFile /etc/pki/tls/certs/ca-certificates.crt

  # Required by Jenkins.
  AllowEncodedSlashes NoDecode

  # Proxy the Jenkins web application running at http://localhost:8080/jenkins.
  <Location /jenkins>
    ProxyPass http://localhost:8080/jenkins nocanon
    ProxyPassReverse http://localhost:8080/jenkins
    ProxyPassReverse http://{{ vault_builds_server_name }}/jenkins

    ProxyPreserveHost On

    RequestHeader set X-Forwarded-Proto "https"
    RequestHeader set X-Forwarded-Port "443"
  </Location>
</VirtualHost>

